export(klDiv)
export(betaDiv)
export(findA)
export(pBetaH4)
export(pBetaH3)
export(estimatePc)
export(estimatePrb)
export(estimateQ)
export(chiPool)
export(chiPc)
export(chiPr)
export(chiQ)
export(chiKappa)
export(hrStat)
export(hrPool)
export(hrPc)
export(hrPr)
export(hrQ)
export(altFrequencyMat)
export(marHistHeatMap)
export(satterChiPool)
export(satterApproxP)
export(convertGeneticSigma)
